<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Astrio\Module8\Api\Data\CountriesInterface"
                type="Astrio\Module8\Model\Countries"/>

    <preference for="Astrio\Module8\Api\CountriesHelpInterface"
                type="Astrio\Module8\Model\CountriesHelper"/>

	<type name="Magento\Catalog\Api\CategoryRepositoryInterface">
    	<plugin name="category_repository" type="Astrio\Module8\Plugin\CategoryRepositoryInterface"/>
    </type>
</config>
