<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="module9" frontName="module9">
            <module name="Astrio_Module9" />
        </route>        
    </router>
</config>